{
  "openapi": "3.1.0",
  "info": {
    "title": "API Documentation",
    "description": "Documentation for API endpoints",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.simli.ai"
    }
  ],
  "paths": {
    "/isSessionAvailable": {
      "post": {
        "summary": "Check if session is available",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "apiKey": {
                    "type": "string"
                  }
                },
                "required": ["apiKey"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Session availability response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "isAvailable": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/getPossibleFaceIDs": {
      "get": {
        "summary": "Get possible face IDs",
        "parameters": [
          {
            "name": "apiKey",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of possible face IDs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "faceIDs": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/startAudioToVideoSession": {
      "post": {
        "summary": "Start Audio to Video Session",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "faceId": {
                    "type": "string"
                  },
                  "isJPG": {
                    "type": "boolean"
                  },
                  "apiKey": {
                    "type": "string"
                  },
                  "syncAudio": {
                    "type": "boolean"
                  },
                  "maxSessionLength": {
                    "type": "integer",
                    "description": "Max session length in seconds"
                  },
                  "maxIdleTime": {
                    "type": "integer",
                    "description": "Max idle/silence time in seconds before session is terminated"
                  }
                },
                "required": ["faceId", "isJPG", "apiKey", "syncAudio"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Session token response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "session_token": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/audioToVideoStream": {
      "post": {
        "summary": "Audiotovideo",
        "operationId": "audioToVideo_audioToVideoStream_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AudioToVideoRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },

    "/StartWebRTCSession": {
      "post": {
        "summary": "Start WebRTC Session",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "sdp": {
                    "type": "string"
                  },
                  "type": {
                    "type": "string"
                  }
                },
                "required": ["sdp", "type"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "WebRTC Session response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/textToVideoStream": {
      "post": {
        "summary": "Generate video stream from text",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TextToVideoRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "URL of the HLS .m3u8 playlist file"
                }
              }
            }
          }
        }
      }
    },
    "/getIceServers": {
      "post": {
        "summary": "Geticeservers",
        "operationId": "getIceServers_getIceServers_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IceRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/getRequestStatus": {
      "post": {
        "summary": "Getrequeststatus",
        "operationId": "getRequestStatus_getRequestStatus_post",
        "parameters": [
          {
            "name": "face_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "title": "Face Id"
            }
          },
          {
            "name": "api-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Api-Key"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/generateFaceID": {
      "post": {
        "summary": "Generatefaceidapi",
        "operationId": "generateFaceIDAPI_generateFaceID_post",
        "parameters": [
          {
            "name": "face_name",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "untitled_avatar",
              "title": "Face Name"
            }
          },
          {
            "name": "api-key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Api-Key"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/Body_generateFaceIDAPI_generateFaceID_post"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/startE2ESession": {
      "post": {
        "summary": "Start Pipecat Session",
        "operationId": "start_pipecat_session_startE2ESession_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StartAgentRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "TTS_Provider": {
        "type": "string",
        "enum": ["ElevenLabs", "Cartesia"],
        "title": "TTS_Provider"
      },

      "CustomLLMConfig": {
        "properties": {
          "model": {
            "type": "string",
            "title": "Model",
            "default": "gpt-4o-mini"
          },
          "baseURL": {
            "type": "string",
            "title": "Baseurl"
          },
          "llmAPIKey": {
            "type": "string",
            "title": "Llmapikey"
          }
        },
        "type": "object",
        "required": ["baseURL", "llmAPIKey"],
        "title": "CustomLLMConfig"
      },

      "StartAgentRequest": {
        "properties": {
          "apiKey": {
            "type": "string",
            "title": "Apikey"
          },
          "faceId": {
            "type": "string",
            "title": "Faceid",
            "default": "tmp9i8bbq7c"
          },
          "ttsProvider": {
            "$ref": "#/components/schemas/TTS_Provider",
            "default": "Cartesia"
          },
          "ttsAPIKey": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Ttsapikey"
          },
          "ttsModel": {
            "type": "string",
            "title": "Ttsmodel",
            "default": "sonic-english"
          },
          "voiceId": {
            "type": "string",
            "title": "Voiceid",
            "default": "a167e0f3-df7e-4d52-a9c3-f949145efdab"
          },
          "systemPrompt": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Systemprompt",
            "default": "You are Chatbot, a friendly, helpful robot. Your goal is to demonstrate your capabilities in a succinct way. Your output will be converted to audio so don't include special characters in your answers. Respond to what the user said in a creative and helpful way, but keep your responses brief."
          },
          "firstMessage": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Firstmessage"
          },
          "maxSessionLength": {
            "type": "integer",
            "title": "Maxsessionlength",
            "default": 3600
          },
          "maxIdleTime": {
            "type": "integer",
            "title": "Maxidletime",
            "default": 300
          },
          "language": {
            "type": "string",
            "title": "Language",
            "default": "en"
          },
          "customLLMConfig": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/CustomLLMConfig"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "type": "object",
        "required": ["apiKey"],
        "title": "StartAgentRequest"
      },

      "Body_generateFaceIDAPI_generateFaceID_post": {
        "properties": {
          "image": {
            "type": "string",
            "format": "binary",
            "title": "Image"
          }
        },
        "type": "object",
        "required": ["image"],
        "title": "Body_generateFaceIDAPI_generateFaceID_post"
      },

      "TextToVideoRequest": {
        "type": "object",
        "required": [
          "ttsAPIKey",
          "simliAPIKey",
          "faceId",
          "user_id",
          "requestBody"
        ],
        "properties": {
          "ttsAPIKey": {
            "type": "string"
          },
          "simliAPIKey": {
            "type": "string"
          },
          "faceId": {
            "type": "string"
          },
          "user_id": {
            "type": "string"
          },
          "requestBody": {
            "type": "object",
            "required": [
              "audioProvider",
              "text",
              "voice",
              "quality",
              "speed",
              "sample_rate",
              "voice_engine",
              "output_format",
              "emotion",
              "voice_guidance",
              "style_guidance",
              "text_guidance"
            ],
            "properties": {
              "audioProvider": {
                "type": "string"
              },
              "text": {
                "type": "string"
              },
              "voice": {
                "type": "string"
              },
              "quality": {
                "type": "string"
              },
              "speed": {
                "type": "number"
              },
              "sample_rate": {
                "type": "integer"
              },
              "voice_engine": {
                "type": "string"
              },
              "output_format": {
                "type": "string"
              },
              "emotion": {
                "type": "string"
              },
              "voice_guidance": {
                "type": "number"
              },
              "style_guidance": {
                "type": "number"
              },
              "text_guidance": {
                "type": "number"
              }
            }
          }
        }
      },
      "IceRequest": {
        "properties": {
          "apiKey": {
            "type": "string",
            "title": "Apikey"
          }
        },
        "type": "object",
        "required": ["apiKey"],
        "title": "IceRequest"
      },
      "AudioToVideoRequest": {
        "properties": {
          "simliAPIKey": {
            "type": "string",
            "title": "Simliapikey"
          },
          "faceId": {
            "type": "string",
            "title": "Faceid"
          },
          "audioBase64": {
            "type": "string",
            "title": "Audiobase64"
          },
          "audioFormat": {
            "type": "string",
            "enum": ["pcm16", "pcm32", "wav", "mp3", "ogg"],
            "title": "Audioformat"
          },
          "audioSampleRate": {
            "type": "integer",
            "title": "Audiosamplerate",
            "default": 16000
          },
          "audioChannelCount": {
            "type": "integer",
            "title": "Audiochannelcount",
            "default": 1
          },
          "videoStartingFrame": {
            "type": "integer",
            "title": "Videostartingframe",
            "default": 0
          }
        },
        "type": "object",
        "required": ["simliAPIKey", "faceId", "audioBase64", "audioFormat"],
        "title": "AudioToVideoRequest"
      }
    }
  }
}
