{
  "openapi": "3.0.0",
  "info": {
    "title": "Agent Service API",
    "description": "API for managing agents",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.simli.ai"
    }
  ],
  "paths": {
    "/ping": {
      "get": {
        "summary": "Health check endpoint",
        "responses": {
          "200": {
            "description": "Server is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "pong"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/agent": {
      "post": {
        "summary": "Create a new agent",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AgentCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Agent created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input"
          }
        }
      }
    },
    "/agents": {
      "get": {
        "summary": "Get all agents",
        "responses": {
          "200": {
            "description": "List of agents",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AgentResponse"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/agent/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        }
      ],
      "get": {
        "summary": "Get single agent",
        "responses": {
          "200": {
            "description": "A single agent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update an agent",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AgentUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Agent updated successfully"
          },
          "404": {
            "description": "Agent not found"
          }
        }
      },
      "delete": {
        "summary": "Delete an agent",
        "responses": {
          "204": {
            "description": "Agent deleted successfully"
          },
          "404": {
            "description": "Agent not found"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AgentResponse": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier for the agent, generated by the MySQL service"
          },
          "face_id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string",
            "default": "Untitled Agent"
          },
          "first_message": {
            "type": "string"
          },
          "prompt": {
            "type": "string"
          },
          "voice_provider": {
            "type": "string",
            "enum": ["elevenlabs", "cartesia"]
          },
          "voice_id": {
            "type": "string",
            "format": "uuid"
          },
          "voice_model": {
            "type": "string",
            "example": "sonic-english"
          },
          "language": {
            "type": "string"
          },
          "llm_model": {
            "type": "string",
            "example": "gpt-4o-mini"
          },
          "llm_endpoint": {
            "type": "string",
            "description": "The URL of the custom LLM to use",
            "example": "https://api.example.com/v1/chat/completions"
          },
          "max_idle_time": {
            "type": "integer",
            "default": 300
          },
          "max_session_length": {
            "type": "integer",
            "default": 3600
          },
          "owner_id": {
            "type": "string",
            "description": "Unique identifier for the owner of the agent"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the agent was created"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the agent was last updated"
          }
        },
        "required": [
          "id",
          "face_id",
          "name",
          "first_message",
          "prompt",
          "voice_provider",
          "voice_id",
          "voice_model",
          "language",
          "llm_model",
          "llm_endpoint",
          "max_idle_time",
          "max_session_length",
          "owner_id",
          "created_at",
          "updated_at"
        ]
      },
      "AgentCreate": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "face_id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string",
            "default": "Untitled Agent"
          },
          "first_message": {
            "type": "string"
          },
          "prompt": {
            "type": "string"
          },
          "voice_provider": {
            "type": "string",
            "enum": ["elevenlabs", "cartesia"]
          },
          "voice_id": {
            "type": "string",
            "format": "uuid"
          },
          "voice_model": {
            "type": "string",
            "example": "sonic-english"
          },
          "owner_id": {
            "type": "string",
            "description": "Unique identifier for the owner of the agent"
          },
          "language": {
            "type": "string"
          },
          "llm_model": {
            "type": "string",
            "example": "gpt-4o-mini"
          },
          "llm_endpoint": {
            "type": "string",
            "description": "The URL of the custom LLM to use",
            "example": "https://api.example.com/v1/chat/completions"
          },
          "max_idle_time": {
            "type": "integer",
            "default": 300
          },
          "max_session_length": {
            "type": "integer",
            "default": 3600
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the agent was created"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the agent was updated"
          }
        },
        "required": ["face_id", "name"]
      },
      "AgentUpdate": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "face_id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "first_message": {
            "type": "string"
          },
          "prompt": {
            "type": "string"
          },
          "voice_provider": {
            "type": "string",
            "enum": ["elevenlabs", "cartesia"]
          },
          "voice_id": {
            "type": "string",
            "format": "uuid"
          },
          "voice_model": {
            "type": "string",
            "example": "sonic-english"
          },
          "llm_model": {
            "type": "string",
            "example": "gpt-4o-mini"
          },
          "llm_endpoint": {
            "type": "string",
            "description": "The URL of the custom LLM to use",
            "example": "https://api.example.com/v1/chat/completions"
          },
          "language": {
            "type": "string"
          },
          "max_idle_time": {
            "type": "integer"
          },
          "max_session_length": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the agent was created"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the agent was updated"
          }
        }
      }
    }
  }
}
