{
  "openapi": "3.0.0",
  "info": {
    "title": "API Documentation",
    "description": "Documentation for API endpoints",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.simli.ai"
    }
  ],
  "paths": {
    "/isSessionAvailable": {
      "post": {
        "summary": "Check if session is available",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "apiKey": {
                    "type": "string"
                  }
                },
                "required": ["apiKey"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Session availability response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "isAvailable": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/getPossibleFaceIDs": {
      "get": {
        "summary": "Get possible face IDs",
        "parameters": [
          {
            "name": "apiKey",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of possible face IDs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "faceIDs": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/startAudioToVideoSession": {
      "post": {
        "summary": "Start Audio to Video Session",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "faceId": {
                    "type": "string"
                  },
                  "isJPG": {
                    "type": "boolean"
                  },
                  "apiKey": {
                    "type": "string"
                  },
                  "syncAudio": {
                    "type": "boolean"
                  },
                  "maxSessionLength": {
                    "type": "integer",
                    "description": "Max session length in seconds"
                  },
                  "maxIdleTime": {
                    "type": "integer",
                    "description": "Max idle/silence time in seconds before session is terminated"
                  }
                },
                "required": ["faceId", "isJPG", "apiKey", "syncAudio"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Session token response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "session_token": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/StartWebRTCSession": {
      "post": {
        "summary": "Start WebRTC Session",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "sdp": {
                    "type": "string"
                  },
                  "type": {
                    "type": "string"
                  }
                },
                "required": ["sdp", "type"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "WebRTC Session response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/textToVideoStream": {
      "post": {
        "summary": "Generate video stream from text",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TextToVideoRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "URL of the HLS .m3u8 playlist file"
                }
              }
            }
          }
        }
      }
    },
    "/getIceServers": {
      "post": {
        "summary": "Geticeservers",
        "operationId": "getIceServers_getIceServers_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IceRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "TextToVideoRequest": {
        "type": "object",
        "required": [
          "ttsAPIKey",
          "simliAPIKey",
          "faceId",
          "user_id",
          "requestBody"
        ],
        "properties": {
          "ttsAPIKey": {
            "type": "string"
          },
          "simliAPIKey": {
            "type": "string"
          },
          "faceId": {
            "type": "string"
          },
          "user_id": {
            "type": "string"
          },
          "requestBody": {
            "type": "object",
            "required": [
              "audioProvider",
              "text",
              "voice",
              "quality",
              "speed",
              "sample_rate",
              "voice_engine",
              "output_format",
              "emotion",
              "voice_guidance",
              "style_guidance",
              "text_guidance"
            ],
            "properties": {
              "audioProvider": {
                "type": "string"
              },
              "text": {
                "type": "string"
              },
              "voice": {
                "type": "string"
              },
              "quality": {
                "type": "string"
              },
              "speed": {
                "type": "number"
              },
              "sample_rate": {
                "type": "integer"
              },
              "voice_engine": {
                "type": "string"
              },
              "output_format": {
                "type": "string"
              },
              "emotion": {
                "type": "string"
              },
              "voice_guidance": {
                "type": "number"
              },
              "style_guidance": {
                "type": "number"
              },
              "text_guidance": {
                "type": "number"
              }
            }
          }
        }
      },
      "IceRequest": {
        "properties": {
          "apiKey": {
            "type": "string",
            "title": "Apikey"
          }
        },
        "type": "object",
        "required": ["apiKey"],
        "title": "IceRequest"
      }
    }
  }
}
